*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --main-color: #eee;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 100vh;
    position: relative;
}

.board {
    width: min(71vw, 71vh); /* Responsive: max 90% of screen */
    aspect-ratio: 1 / 1;     /* Keeps it square */
    display: flex;
    flex-wrap: wrap;
    background-color: #222;
}

.cell {
    width: calc(100% / 3);
    height: calc(100% / 3);
    background-color: #222;
    border: 4px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Individual Cells */
.c1 {
    border-bottom: 9px solid var(--main-color);
    border-right: 9px solid var(--main-color);
    border-top: 0;
    border-left: 0;
}
.c2 {
    border-bottom: 9px solid var(--main-color);
    border-left: 9px solid var(--main-color);
    border-top: 0;
    border-right: 9px solid var(--main-color);
}
.c3 {
    border-bottom: 9px solid var(--main-color);
    border-left: 9px solid var(--main-color);
    border-top: 0;
    border-right: 0;
}
.c4 {
    border-bottom: 9px solid var(--main-color);
    border-left: 0;
    border-top: 9px solid var(--main-color);
    border-right: 9px solid var(--main-color);
}
.c5 {
    border-bottom: 9px solid var(--main-color);
    border-left: 9px solid var(--main-color);
    border-top: 9px solid var(--main-color);
    border-right: 9px solid var(--main-color);
}
.c6 {
    border-bottom: 9px solid var(--main-color);
    border-left: 9px solid var(--main-color);
    border-top: 9px solid var(--main-color);
    border-right: 0;
}
.c7 {
    border-bottom: 0;
    border-left: 0;
    border-top: 9px solid var(--main-color);
    border-right: 9px solid var(--main-color);
}
.c8 {
    border-bottom: 0;
    border-left: 9px solid var(--main-color);
    border-top: 9px solid var(--main-color);
    border-right: 9px solid var(--main-color);
}
.c9 {
    border-bottom: 0;
    border-left: 9px solid var(--main-color);
    border-top: 9px solid var(--main-color);
    border-right: 0;
}
.x::before,.x::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 85%;
    border-radius: 20px;
    background-color: #eee;
}
.x::before{
    transform: rotate(45deg);
}
.x::after{
    transform: rotate(-45deg);
}
.o::before,.o::after{
    content: "";
    position: absolute;
   
    border-radius: 50%;

}
.o::before{
    width: calc(100% / 1.3);
    height:  calc(100% / 1.3);
   background-color:#eee;
}
.o::after{
    width: calc(calc(100% / 1.5)*.8);
    height:  calc(calc(100% / 1.5)*.8);
    background-color: #222;
}
.winning-message{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0,.9);
 display: none;
 justify-content: center;
 align-items: center;
 color: white;
 font-size: 5rem;
 flex-direction: column;
}
.winning-message button{
    font-size: 3rem;
    background: linear-gradient(268deg,#3f51b5,#bb3c3c);
    border: 1px solid black;
    cursor: pointer;
    border-radius: 20%;
 
}
.winning-message button:hover{
    font-size: 3rem;
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
    color:white ;
    border-radius: 20%;
}
.winning-message.show{
    display: flex;
}
.turn {
    font-size: 2rem;
    color: wheat;
    background: linear-gradient(357deg,#060606,#2e2e2e);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    text-align: center;

    /* Centering it above the board */
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 0 0 10px #000;
    top: 0;
}
.foot{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222;
    color: #bbb;
    margin-top: 50px;
    font-style: italic;
    opacity: 0.8;
}
.owner{
cursor: pointer;

}
.owner:hover{
  cursor: pointer;
  color: #ff4081;
  }